<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Estudiantes</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

<div class="contenedor">

    <h1>Lista de Estudiantes</h1>

    <a href="/estudiantes/nuevo" class="boton-nuevo">Nuevo Estudiante</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="est : ${listaEstudiantes}">
            <td th:text="${est.id}"></td>
            <td th:text="${est.nombre}"></td>
            <td th:text="${est.apellido}"></td>
            <td th:text="${est.email}"></td>
            <td th:text="${est.edad}"></td>
            <td>
                <a th:href="@{/estudiantes/editar/{id}(id=${est.id})}"
                   class="boton editar">Editar</a>

                <a th:href="@{/estudiantes/eliminar/{id}(id=${est.id})}"
                   class="boton eliminar"
                   onclick="return confirm('¿Seguro que deseas eliminar este estudiante?')">
                    Eliminar
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>